@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Varela+Round');
/* $primary-color: #36b7de;
$secondary-color: #ffb732; */
body {
  background: ;
}
.header h1 {
 display: none;
}
h3 .badge:first-child {
  background-color: #ffb732;
  font-family: 'Abril Fatface', cursive;
}

h3 .badge:nth-of-type(2) {
  background: #36b7de;
  font-family: 'Abril Fatface', cursive;
}

h3 .badge {
  text-shadow: 2px 2px 4px #000;
}
nav .navbar-toggler-icon {
  height: 60px;
  width: 50px;
}
nav {
  background: #3f3f3f;
  font-family: 'Abril Fatface', cursive;
}
.fa-bars {
  background: inherit;
  color: #fff;
  transition: all .5s ease;
}

nav .nav-item {
  color: #ffb732 !important;
  text-shadow: 1px 1px 2px #000;
}
.rotate {
  transform: rotate(90deg);
  color: #000;
}

.jumbotron .btn {
  background-color: #36b7de;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000;
  font-family: 'Varela Round', sans-serif;
}

.jumbotron h2 {
  color: #36b7de;
  text-shadow: 2px 2px 3px #000;
  
}
.jumbotron .motto {
  color: #36b7de;
  text-shadow: 1px 1px 1px #000;
}
.jumbotron {
  background: orange;
  opacity: .9;
  border: 1px solid #000;
  font-family: 'Abril Fatface', cursive;
}
.container {
  font-family: 'Varela Round', sans-serif;
}
.about p:first-letter{
  font-size: 3em;
}
.about,.wwd {
  margin: 50px;
  border-bottom: 1px solid gray;
}
.wwd ul {
  list-style-type: none;
  padding: .5em;
 
}
.wwd li {
  padding: .5em;
}
.contact {
  margin: 50px;
}
form input,form textarea {
  display: block;
  margin: auto;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 
}
form textarea {
  height: 80px;
 
}
input[type="submit"] {
  background: #36b7de;
  color: #fff;
  width: 80px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 5px;
}

form input:focus,form textarea:focus {
  outline: none;
}
@media (min-width: 993px) {
  nav .nav-item:hover {
    font-size: 20px;
    color: #36b7de !important;
    
  }
}
  footer { 
    display: table;
    width: 100%;
   background: grey;
    color: #fff;
}
footer a {
  color: white;
}

